@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

    :root {
        --azul-dnc: #0C70F2;
        --preto-dnc: #303030;
        --cinza-hover: #E6E6E6;
        --white-letra: #FFFFFF;
        --fonte-padrao: 'Inter';
    }

    body{
        margin: 0;
        padding: 0;
        font-family: var(--fonte-padrao);
        background: linear-gradient(180deg, #0c70f280 28.91%, #0c70f200 32.84%), var(--preto-dnc);
        background-repeat: no-repeat;
    }
        /* Menu de Navegação Principal */
        #principal {
            width: 100%;
            height: 100px;
            border-bottom: 2px solid #BABABA;
            background-color: var(--preto-dnc);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            #menu {
                display: flex;
                width: 45%;
                justify-content: space-around;
                align-items: center;
                margin-left: 5%;
        }

            #principal div a {
                font-size: 25px;
                font-weight: 600;
                color: var(--cinza-hover);
                text-decoration: none;
            }

                #principal div a:hover {
                    color: var(--white-letra);
                    transform: translateY(-3px);
                    transition-duration: 1ms;        
                }

            #principal button {
                margin-right: 5%;
                background-color: var(--azul-dnc);
                height: 40px;
                width: 80px;
                border: 0px;
                font-size: 20px;
                font-weight: 600;
                color: var(--cinza-hover);
                box-shadow: 3px 2px 4px #0c70f240;
                cursor: pointer;
            }

                #principal button:hover {
                    color: var(--white);
                    transform: translateY(-3px);
                    transition-duration: 1ms
                }
            
        /* Seção Principal do site */
            
        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 100px;
            margin-bottom: 100px;
        }

            header {
                    color: var(--white-letra);
            }

            header h1 {
                    font-size: 80px;
                    font-weight: 800;
                    text-align: center;

                    margin-bottom: 20px;
            }

            header h2 {
                    text-align: center;
                    font-size: 40px;
                    font-weight: 700;
            }

            header .invert {
                    background-color: #000000;
                    font-weight: bold;
                    padding: 0px 5px 0px 5px;
            }

        /* Formulário */

        Form{
            color: var(--white-letra);
            font-size: 30px;
            font-weight: 600;
            width: 650px;
            padding: 150px 0px;
        }

            .form-group{
                display: flex;
                flex-direction: column;
                margin: 15px auto 15px auto;
            }

            form input {
                background: #ffffffe6;
                border-radius: 10px;
                border: 0;
                height: 40px;
                font-size: 20px;
                margin-top: 5px;
                padding: 10px;
            }

            form input::placeholder {
                color: #39393980;
            }

            .checkbox-itens label {
                font-size: 25px;
            }

            .checkbox-itens {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            input[type="checkbox"]{
                transform: scale(1.7);
            }

            button[type="submit"]{
                background-color: #0c70f2e6;
                box-shadow: 0px 6px 4px #0c70f240;
                color: var(--cinza-hover);
                font-size: 32px;
                font-weight: 600;
                width: 100%;
                height: 50px;
                border: 0;
                border-radius: 10px;
                margin-top: 75px;
            }

                button:hover[type="submit"]{
                    color: var(--white-letra);
                    transform: translateY(-3px);
                    transition-duration: 1ms
                }

        /* Footer */
        Footer {
            width: 100%;
            background-color: var(--azul-dnc);
        }

            footer .linha1 {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

                footer ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    text-align: center;   
                    font-weight: 600;
                }

                footer ul li {
                    margin: 20px 0px;
                }
            
                    footer ul li:hover {
                            color: var(--white-letra);
                            transform: translateY(-3px);
                            transition-duration: 2ms;
                        }

                footer ul li a {
                    text-decoration: none;
                    color: var(--cinza-hover);
                    font-size: 18px;
                }

                footer nav {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 330px;
                }

                footer h5 {
                    text-align: center;
                    color: var(--white-letra);
                    background-color: var(--preto-dnc);
                    border-radius: 5px;
                    font-weight: 800;
                    font-size: 18px;
                    padding: 10px;
                    margin-bottom: 15px;
                }

                footer .endereco {
                    font-weight: 600;
                    font-size: 18px;
                    color: var(--white-letra);
                    text-align: center;
                    width: 20%

                }

            footer .linha2 {
                display: flex;
                justify-content: center;
                padding: 15px;
            }

                footer .linha2 a {
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--cinza-hover);
                    text-decoration: none;
                    padding: 5px;
                }

                    footer .linha2 a:first-child {
                        border-right: 2px solid #FFFFFF;
                    }

                    footer .linha2 a:hover {
                        color: var(--white-letra);
                        transform: translateY(-3px);
                        transition-duration: 2ms;
                    }

@media only screen and (max-width: 600px) {

    /* Menu */
    #principal{
    flex-direction: column;
    height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    #menu a {    
        display: flex;
        height: 50px;
        align-items: center;
    }

    #principal button{
        width: 100%;
        margin: 0;
    }

    /* Section */

    section h1{
        font-size: 38px;
    }

    section h2{
        font-size: 28px;
        padding: 0px 15px;
    }

    /* Form */

    form{
        width: 95%;
        font-size: 20px;
    }

    .checkbox-itens label{
        font-size: 17px;
    }

    /* Footer */

    footer .linha1{
        flex-direction: column;
    }

    footer .endereco{
        width: 95%;
        margin-bottom: 20px;
    }

}





